config SHIELD_KORNE_DONGLE
    def_bool $(shields_list_contains,korne_dongle)

config SHIELD_KORNE_LEFT
    def_bool $(shields_list_contains,korne_left)

config SHIELD_KORNE_RIGHT
    def_bool $(shields_list_contains,korne_right)